.table-email tr.unread td {
	margin-bottom: 10px
}
.sel_entryLimit{
	height: 37px;
	width: 60px
}
.exportablediv{
	margin-bottom: 10px
}
.datetd{
	min-width: 100px;
}
.txtarea{
    width: 100%;
    height: 60px
}
.toggle.android { border-radius: 0px;}
.toggle.android .toggle-handle { border-radius: 0px; }
